@import 'placeholders';

body {
    background-color: #eee;
    padding: $layout-module-size;
}

.c-profile {
    @extend %u-display-flex, %u-flex-direction-column, %u-flex-align-items-center, %u-flex-justify-content-flex-space-between, %u-no-text-decoration;
    background-color: #fff;
    border: rem-calc(1) solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: $layout-module-size / 2;
    transition: all 150ms ease-in-out;

    @media(min-width: 568px) {
        flex-direction: row;
    }

    &:hover {
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.05);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(2px);
        transition-duration: 85ms;
    }

    &__avatar {
        border: 1px solid #ccc;
        border-radius: 50%;
        max-height: 65px;
        max-width: 65px;
        padding: 2px;
        transition: all 150ms ease;

        .c-profile:hover & {
            border-color: #55b0c0;
        }
    }

    &__content {
        @extend %u-display-flex, %u-flex-direction-column, %u-flex-align-items-center;

        @media(min-width: 568px) {
            align-items: flex-end;
        }
    }

    &__name {
        @extend %u-text-align-center, %u-bold;
        color: #55b0c0;
        font-size: 25px;
        margin-top: 5px;

        @media(min-width: 568px) {
            margin-top: 0;
        }
    }
}